/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  background-image: var(--bg-picture);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* padding: 10px; */
}

section {
  margin-block-end: 50px;
}

.header {
  position: relative;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: flex-end;
  align-items: center;
  padding-inline: 10px;
}

.header__theme-menu {
  display: grid;
}

.header__theme-menu-list {
  display: grid;
  justify-items: end;
  gap: 13px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--menu-button-color);
  text-transform: lowercase;
  line-height: 100%;
  text-align: center;
  block-size: 26px;
  padding-inline: var(--button-padding);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-button-color);
  padding-inline: var(--button-padding);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

.header__title {
  line-height: 95.7px;
  font-family: var(--main-font-family);
  color: var(--header-logo-color);
  font-size: var(--header-font-size);
  text-shadow: 4px 4px 0px var(--header-text-shadow-color);
  justify-self: flex-start;
}

.header__title_text {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  align-self: flex-start;
  justify-self: end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--lines-color);
  border-inline-end: 1px solid var(--lines-color);
}

.decorated-zone::after {
  left: 10px;
  bottom: 10px;
  justify-self: start;
  align-self: flex-end;
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--lines-color);
  border-inline-start: 1px solid var(--lines-color);
}

.title__decore {
  background-color: var(--accent-color);
}

.REC {
  position: absolute;
  display: grid;
  justify-content: flex-end;
  top: 10px;
  right: 10px;
}

/* Круг */
.rec-circle {
  display: grid;
  margin-inline: 9px;
  margin-block-start: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/* Надпись REC */
.REC::before {
  content: "REC";
  position: absolute;
  top: 2px;
  right: 30px;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  color: var(--accent-color);
  text-align: center;
}

.grid {
  /* display: grid; */
  margin-block-end: 40px;
}

.gallery-container {
  display: grid;
  gap: 10px;

  margin-block-start: 10px;
}

.content__section-title {
  font-family: var(--main-font-family);
  color: var(--title-text-color);
  inline-size: 100%;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
}

.advices .content__section-title:not(:nth-child(1)) {
  font-weight: 400;
}

.content__section-text {
  margin-block-start: 10px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--text-color);
  line-height: var(--line-height);
}

.content__section-text:not(:last-child),
.text__block:not(:last-child) {
  margin-block-end: 20px;
}

.subtitle {
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--line-height);
  margin-block-end: 20px;
  margin-block-start: 0px;
}

.text__blocks {
  /* margin-block-end: 50px; */

  h4 {
    margin-block-start: 20px;
  }
}

.image {
  inline-size: 100%;
}

.content {
  padding-block-start: 40px;
  padding-inline: var(--main-padding);
  inline-size: 100%;
  display: grid;
}

.content__section-link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
}

.content__section-link:hover {
  border-bottom: 1px solid #f1b2ce;
}

.content__section-link:focus {
  border: 1px solid #f1b2ce;
}

.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 82%;
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  color: var(--footer-logo-color);
  font-size: var(--footer-font-size);
  text-shadow: 2px 2px 0px var(--accent-color);
  block-size: 100vh;
}

@media (width >= 768px) {
  section {
    margin-block-end: 80px;
  }

  .header {
    justify-content: flex-end;
    padding-inline: 20px;
  }

  .header__title {
    margin-left: -20px;
    line-height: 83%;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title_text {
    inline-size: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  /* Круг */
  .rec-circle {
    margin-inline: 18px;
    margin-block-start: 18px;
  }

  /* Надпись REC */
  .REC::before {
    top: 10px;
    right: 40px;
  }

  .text__blocks {
    display: grid;
  }

  .content {
    padding-inline: 20px;
    padding-block-start: 60px;
  }

  .why {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .causes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .causes .text__blocks {
    grid-column: 1 / -1;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-block-end: 80px;
  }

  .gallery-container {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
    margin-block-start: 20px;
    margin-block-end: 30px;
  }

  .gallery-container img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border: none;
    margin: 0;
    padding: 0;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .sunset {
    grid-area: sunset;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

.footer {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 99px;
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: normal;
  }

  .header__title {
    grid-row: 2 / 6;
    grid-column: 1 / span 3;
  }

  .header__title_text {
    grid-row: 5;
    grid-column: 1 / span 3;
    align-self: end;
  }

  .header__theme-menu {
    padding-block-start: 20px;
    grid-column: 2 / 3;
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .why {
    column-gap: 10px;
  }

  .causes {
    grid-template-columns: repeat(3, 1fr);

    .text__blocks {
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      column-gap: 20px;
    }
  }
  .advices {
    column-gap: 10px;
  }
}

.footer.decorated-zone::after {
  bottom: 30px;
}

.footer.decorated-zone::before {
  top: 10px;
}
